@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> _signInManager

<section id="menu">


    <!-- Actions -->
    <section>

        @if (_signInManager.IsSignedIn(User))
        {

            string imgName = "~/images/" + @User.Identity.Name + ".jpg";
            <img class="imgL" src='@Url.Content(imgName)' alt="img" />
            <ul class="borderBtm actions stacked">

                <li class="button large fit lbnHello">Hello! @User.Identity.Name</li>
                <li><a id="registerLink" class="button large fit" asp-area="" asp-controller="Account" asp-action="Logout">Log off</a></li>
                <a class="editLink" asp-area="" asp-controller="User" asp-action="Edit" asp-route-name="@User.Identity.Name" asp-route-id="@this.User">Edit User @User.Identity.Name</a>
            </ul>
        }
        else
        {
            <ul class="actions stacked">
                <li><a asp-area="" asp-controller="Account" asp-action="login" class="button large fit">Log In</a></li>
            </ul>
            <ul class="actions stacked">
                <li><a asp-area="" asp-controller="Account" asp-action="register" class="button large fit">Sign Up</a></li>
            </ul>
        }


    </section>

</section>